.App {
    /* top and bottom padding is provided by inner elements if needed */
    padding: 0 10px;
}

.MultiColumnPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* min-width on .Column#Description works in a different [wrong] way */
    /* TODO(vsapsai): review value after styling is updated */
    min-width: 955px;
}

.Column {
    display: inline-block;
}
.Column#Description {
    max-width: 640px;
}
/* Doesn't expand to take all available height so can be used to set height
   for other elements. */
.Column#Description #MinSizeDescription {
    display: inline-block;
    padding: 10px 0;
}
.Column#Calendar {
    /* Browsers don't handle optional scrollbars well and add unnecessary
       horizontal scroll bar. As the calendar is long, it is safe to always
       have a scroll bar. */
    overflow-y: scroll;
    /* Don't grow and don't shrink. */
    flex: none;
}


button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #efefef;
    border-color: #a7acb1;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
button:hover {
    background-color: #d8d8d8;
}

.LinkButton {
    background-color: transparent;
    border-color: transparent;
    color: #4285f4;
    text-decoration: underline;
}
.LinkButton:hover {
    background-color: transparent;
    color: rgb(34, 89, 181);
}

.IconButton {
    font-size: 32px;
    line-height: 28px;  /* carefully selected value so the button isn't taller than siblings */
    font-weight: 900;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.IconButton:hover {
    color: #1a0dab;
}


#Description h3 {
    margin-bottom: 10px;
}

ul.PeriodsList, .DateInputArea {
    padding-left: 1em;
}

.DateInputArea {
    margin-top: 5px;
}

ul.PeriodsList {
    list-style-type: none;
    margin-top: 5px;
}

.PeriodsList .Header, .PeriodsList .Cell {
    display: inline-block;
    width: 215px;
}

.PeriodsList .Header {
    text-align: center;
    font-weight: 900;
}

.PeriodsList .IconButton {
    padding: 0;
    position: relative;
    top: 4px;
}

.Warning {
    display: inline-block;
    color: #654c03;
    background-color: #fff2c9; /*#fff3cd;*/
    border: 1px solid #fbe9b4;
    border-radius: 5px;
    padding: 0 10px;
}
.PeriodsList .Warning {
    width: 420px;
}

.PeriodsList .ControlRow {
    width: 430px;
    text-align: center;
}

li + li.ControlRow, li.PeriodRow + li.PeriodRow {
    margin-top: 10px;
}

.TableButton {
    /* Smaller focus outline. */
    padding-top: 0;
    padding-bottom: 3px;
    font-size: 18px;
}


.Result {
    margin: 15px 0;
}

.Result .Short {
    display: block;
}
.Result .Long {
    display: none;
}
.Result .Explanation-visible .Short {
    display: none;
}
.Result .Explanation-visible .Long {
    display: block;
}

.Result .LinkButton {
    padding-left: 2px;
    padding-right: 2px;
}

.Result .ApplicationDate {
    font-weight: 900;
}

.Result table {
    border-collapse: collapse;
}

.Result .Indent-1 {
    padding-left: 1em;
}
.Result .Indent-2 {
    padding-left: 2em;
}

/* Align numbers to the right. */
.Result .Row :nth-child(2),
.Result .Row :nth-child(3),
.Result .Row :nth-child(4)
{
    text-align: right;
}

.Result .LinedSummary {
    border-top: 1px solid steelblue;
}
.Result .BoldSummary {
    border-top-width: 1px;
}

.Result .FloatingValue {
    position: absolute;
}


/* Calendar colors
 * ---------------
 *
 * All the colors are carefully ordered so the colors closer to the end
 * override those at the beginning. That's why absence colors override other
 * periods but not single dates.
 *
 * Colors for pending selection override static colors because of their
 * specificity and we can have pending selection only of a single type, so no
 * need to arrange carefully rules for pending selection.
 */
.temporaryResidencePeriods-selected {
    background-color: rgb(179, 226, 255);
}
.temporaryResidencePeriods-selected-start,
.temporaryResidencePeriods-selected-end {
    background-color: rgb(104, 198, 255);
}
.Calendar.selectable.temporaryResidencePeriods-pendingSelection .pendingPeriodSelection {
    background-color: rgba(179, 226, 255, 0.5);
}
.Calendar.selectable.temporaryResidencePeriods-pendingSelection .Day:hover,
.Calendar.selectable.temporaryResidencePeriods-pendingSelection .pendingPeriodSelection-single {
    background-color: rgba(104, 198, 255, 0.5);
}

.permanentResidencePeriods-selected {
    background-color: rgb(222, 249, 222);
}
/* No custom colors for PR start/end dates because this period is automatic and
   already bounded by PR date and application date. */

.absencePeriods-selected {
    background-color: rgb(255, 251, 242);
}
.absencePeriods-selected-start,
.absencePeriods-selected-end {
    background-color: rgb(245, 230, 196);
}
.Calendar.selectable.absencePeriods-pendingSelection .pendingPeriodSelection {
    background-color: rgba(255, 251, 242, 0.5);
}
.Calendar.selectable.absencePeriods-pendingSelection .Day:hover,
.Calendar.selectable.absencePeriods-pendingSelection .pendingPeriodSelection-single {
    background-color: rgba(245, 230, 196, 0.5);
}

/* MANUAL-TEST: absence period should not hide PR start date, except of
 *     pending selection which can do it. */
.prStartDate-selected {
    background-color: rgb(36, 199, 43);
    color: #fff;
}
.Calendar.selectable.prStartDate-pendingSelection .Day:hover {
    background-color: rgba(36, 199, 43, 0.5);
}

.applicationDate-selected {
    /* Nobody would notice it but colors are of the flag of Canada. */
    background-color: rgb(207, 37, 28);
    color: #fff;
}

.prStartDate-selected, .applicationDate-selected {
    border-radius: 3px;
}
