.Calendar {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.Year + .Year {
    margin-top: 10px;
}

.YearLabel, .YearLabel-floating {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    padding-left: 5px;
}

.YearLabel-floating {
    position: fixed;
    top: 0;
    background-color: #fff;
    visibility: hidden;
    z-index: 10;
}

.Quarter {
    display: flex;
    flex-direction: row;
}

.Quarter + .Quarter {
    margin-top: 7px;
}

.Month + .Month {
    margin-left: 7px;
}

.MonthLabel {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 5px;
}

.MonthGrid {
    border-collapse: collapse;
}
.MonthGrid td {
    text-align: right;
    font-size: 14px;
    /* Make the calendar not so condensed. */
    padding: 2px 2px 0 2px;
}

.Day, .Day-disabled {
    cursor: default;
}
.Calendar.selectable .Day {
    cursor: pointer;
}

.Day-disabled {
    color: #a7a7a7;
}
