.DateInputField {
    display: inline-block;
    /* add invisible border to avoid jumping on selection */
    border: 1px solid transparent;
}

.DateInputField input {
    outline: none;  /* remove default focus ring */
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    /* Fixed width across different browsers. */
    width: 204px;
}

.DateInputField.selected {
    border: 1px solid steelblue;
}
