.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 20;  /* should be greater than YearLabel-floating */
}

.Modal-visible {
    display: block;
}

.Modal .Backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal .ContentContainer {
    position: relative;  /* for z-ordering */
    display: flex;
    justify-content: center;
}

.Modal .Content {
    background-color: #fff;
    width: 600px;
    padding: 15px;
    margin-top: 8em;
    border-radius: 5px;
}

.Modal .Header {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.Modal .Body textarea {
    width: 100%;
    resize: vertical;
    font-family: Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 3px;
}

.Modal .Error {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #f2dede;
    border: 1px solid #ffafb7;
    border-radius: 3px;
}

.Modal .Footer {
    text-align: right;
}

.Modal .Footer button {
    margin-left: 10px;
}
