html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.45;
    margin: 0;  /* All empty space should be controlled by App. */
}
